emviz-frontend/node_modules

emviz-backend/simulation/data/*
emviz-backend/app/simulation/data/*
emviz-backend/app/simulation/data/*/*

emviz-backend/app/tools/simulation/data/*
emviz-backend/app/tools/simulation/data/*/*