[submodule "koairy-frontend"]
	path = koairy-frontend
	url = https://bitbucket.ase.in.tum.de/scm/basch/koairy-frontend.git
[submodule "koairy-backend"]
	path = koairy-backend
	url = https://bitbucket.ase.in.tum.de/scm/basch/koairy-backend.git
