[submodule "koairy-frontend"]
	path = koairy-frontend
	url = https://github.com/scheda74/koairy-frontend.git
[submodule "koairy-backend"]
	path = koairy-backend
	url = https://github.com/scheda74/koairy-frontend.git
