koairy-frontend/node_modules

koairy-backend/simulation/data/*

koairy-backend/app/tools/simulation/data/emission-input/*
koairy-backend/app/tools/simulation/data/emission-output/*
koairy-backend/app/tools/simulation/data/traffic-input/*

.vscode
koairy-backend
koairy-frontend