[paths]

### Inputs.

# File with the wind module at 10m (file WindModule10.bin from MM5-meteo and
# file FirstLevelWindModule.bin from meteo)
10_m_wind_module_file: <Directory_computed_fields>/meteo/FirstLevelWindModule.bin

### Outputs.

Directory_sea_salt: <Directory_computed_fields>/emissions/sea_salt/


[sea_salt]

# Parameterization (Monahan or Smith)
Parameterization: Monahan

# Applicability r80 domain (�m)
Threshold_radius = 0.8

Delta_t = 1.0


[LUC]

File: <Directory_ground_data>/LUC-usgs.bin
Nb_luc: 24
Sea_index: 15


[PM]

Sections_computed: yes
Diameter_min = 0.01
Diameter_max = 10.
Nsections = 10

File_sections: <Programs>/emissions/input/PM_sections.dat


[sea-salt_composition]

# According to Seinfeld and Pandis (1998)
#NA	0.3061	CL	0.5504	SO4	0.0768
#The percentage of NA is taken so that the emitted particles are electro-neutral
NA	0.3933	CL	0.55025	SO4	0.0768
