Result_dir: /net/libre/halong/kimy/polyphemus-test_case/sing/reference/results/

[save]

# Put "all" to output all species.
Species: all # SULF N2O5 HNO4 PAN H2O2 O3 CO HNO3 OH NO3 NO NO2

Date_beg: -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 6 # 1 for all steps.

# Are concentrations averaged over interval length?
Averaged: yes

# In the case concentrations are not averaged, are initial concentrations saved?
Initial_concentration: no

# Choices: point_list, boundaries, domain, subdomain.
Type: domain

Levels: 0 1 2 3 4 5 6 7 8 9

Output_file: <Result_dir>/&f.bin

[save]

# Put "all" to output all species.
Species: all # SULF N2O5 HNO4 PAN H2O2 O3 CO HNO3 OH NO3 NO NO2

Date_beg: -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 6 # 1 for all steps.

# Are concentrations averaged over interval length?
Averaged: yes

# In the case concentrations are not averaged, are initial concentrations saved?
Initial_concentration: no

# Choices: point_list, boundaries, domain, subdomain.
Type: street

Levels: 0

Output_file: <Result_dir>/street/&f.bin

