[save]

# Put "all" to output all species.
Species: NO O3 SO2

Date_beg: -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 6 # 1 for all steps.
Averaged: no
# Save initial concentrations in case concentrations are not averaged?
Initial_concentration: yes

# Choices: domain, domain_aer, indices_list ...
Type: domain

Levels: 0 1 2 3 4

Output_file: results/&f_sub.bin


[save]

# Put "all" to output all species.
Species: PM_{1-3}

Date_beg: -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 6 # 1 for all steps.
Averaged: no
# Save initial concentrations in case concentrations are not averaged?
Initial_concentration: yes

# Choices: domain, domain_aer, indices_list ...
Type: domain_aer

Levels: 0 1 2 3 4

Output_file: results/&f_&n_sub.bin