# Configuration file for boundary conditions.

[bc_input_domain]
Delta_t = 6.0
# Latitude and longitude steps: ~ 2.8 deg.
Nt = 12
# Nz_tmp...
Nz = 56
Ny = 21
Nx = 21
# Nt_in=12  Nz_in=58  Ny_in=21  Nx_in=21
# << From MOZART4 : Nt = 12 Nz = 57 Ny = 21 Nx = 21
# >> to POLAIR : Nt = 12 Nz = 9 Ny = 50 Nx = 65

[bc_files]

Directory_bc: data-beta/
Directory_input: input-beta/


#Species: <Directory_input>/species_cb05_gas.dat
Species: input/speciation_mozart4_gas.dat
Species_SS: <Directory_input>/species_cb05_SS.dat
Species_DU: <Directory_input>/species_cb05_DU.dat
Species_aero: <Directory_input>/species_cb05_aero.dat
#Molecular_weights: <Directory_input>/molecular_weights_mozart4_gas.txt
#Molecular_weights: input/molecular_weights_cb05.txt
Molecular_weights: <Directory_input>/molecular_weights_cb05_big.txt

Molecular_weights_SS: <Directory_input>/molecular_weights_cb05_SS.txt
Molecular_weights_DU: <Directory_input>/molecular_weights_cb05_DU.txt
Molecular_weights_aero: <Directory_input>/molecular_weights_cb05_aero.txt
Directory_mozart: raw_data/mozart4/

[size_distribution]

# Number of bins.
Bin_number = 5

# Minimum and maximum diameters (um).
Diameter_min = 0.01
Diameter_max = 10.0

[aerosol_size_distribution]
# species    Dmean (um)    sigma
CB1     0.0236    2.00
CB2     0.0236    2.00
OC1     0.0424    2.20
OC2     0.0424    2.20
SO4     0.1390    2.03
NH4NO3  0.1390    2.03
SOA     0.0424    2.20
NH4     0.1390    2.03

[input_DU_size]
DUST1: 0.05 0.5
DUST2: 0.5 1.25
DUST3: 1.25 2.5
DUST4: 2.5 5.0

[input_SS_size]
SA1: 0.1 0.5
SA2: 0.5 1.5
SA3: 1.5 5.0
SA4: 5.0 10.0

[speciation_DU]
Ns_polair=1
xxx     PMD
DUST1   1.0
DUST2   1.0
DUST3   1.0
DUST4   1.0

[speciation_SS]
Ns_polair=2
xxx     PNA     PHCL
SA1     0.3061  0.55
SA2     0.3061  0.55
SA3     0.3061  0.55
SA4     0.3061  0.55

[speciation_aero]
Ns_polair=8
xxx     PBC     PNH4    PSOAlP  PSOAhP  PSOAmP  PNO3    PSO4    PBiA2D
CB1     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
CB2     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
NH4     0.0     1.0     0.0     0.0     0.0     0.0     0.0     0.0
SO4     0.0     0.0     0.0     0.0     0.0     0.0     1.0     0.0
OC1     0.0     0.0     2.25    3.87    2.88    0.0     0.0     0.0
OC2     0.0     0.0     2.25    3.87    2.88    0.0     0.0     0.0
SOA     0.0     0.0     0.0     0.0     0.0     0.0     0.0     1.0
NH4NO3  0.0     0.225   0.0     0.0     0.0     0.775   0.0     0.0
