results: /net/libre/halong/kimy/polyphemus-test_case/ping/reference/results

[save]

# Put "all" to output all species.
Species: all #NO O3 SO2 NO2 OH CO HONO NO3 #

Date_beg: -1 # -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 12 # 1 for all steps.
Averaged: yes
# Save initial concentrations in case concentrations are not averaged?
Initial_concentration: no

# Choices: domain, domain_aer, indices_list ...
Type: domain

Levels: 0 1 2 3 4 5 6 7	8

Output_file: <results>/&f.bin

[save]

# Put "all" to output all species.
Species: all #PSO4_{0-4} # all

Date_beg: -1 # -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 12 # 1 for all steps.
Averaged: yes
# Save initial concentrations in case concentrations are not averaged?
Initial_concentration: no

# Choices: domain, domain_aer, indices_list ...
Type: domain_aer

Levels: 0 1 2 3 4 5 6 7	8

Output_file: <results>/&f_&n.bin

# [save]

# # Put "all" to output all species.
# Species: all  #SULF N2O5 HNO4 PAN H2O2 O3 CO HNO3 OH NO3 NO NO2

# Date_beg: -1 # Put -1 to start from the simulation initial date.
# Date_end: -1 # Put -1 to end at the simulation final date.
# Interval_length: 12 # 1 for all steps.
# Averaged: yes # if concentraions are averaged over interval length
# # Save initial concentrations in case concentrations are not averaged?
# Initial_concentration: no

# # Choices: point_list, boundaries, domain, subdomain.
# Type: wet_deposition

# Levels: 0 # 1 2 3 4 5 6 7 8 9 10

# Output_file: <results>/wet_deposition/&f.bin


# [save]

# # Put "all" to output all species.
# Species: all # all

# Date_beg: -1 # Put -1 to start from the simulation initial date.
# Date_end: -1 # Put -1 to end at the simulation final date.
# Interval_length: 12 # 1 for all steps.
# Averaged: yes
# # Save initial concentrations in case concentrations are not averaged?
# Initial_concentration: no

# # Choices: domain, domain_aer, indices_list ...
# Type: dry_deposition

# Levels: 0 # 1 2 3 4 5 6 7 8 9 10

# Output_file: <results>/dry_deposition/&f.bin

# [save]

# # Put "all" to output all species.
# Species: all  #SULF N2O5 HNO4 PAN H2O2 O3 CO HNO3 OH NO3 NO NO2

# Date_beg: -1 # Put -1 to start from the simulation initial date.
# Date_end: -1 # Put -1 to end at the simulation final date.
# Interval_length: 12 # 1 for all steps.
# Averaged: yes # if concentraions are averaged over interval length
# # Save initial concentrations in case concentrations are not averaged?
# Initial_concentration: no

# # Choices: point_list, boundaries, domain, subdomain.
# Type: wet_deposition_aer

# Levels: 0 # 1 2 3 4 5 6 7 8 9 10

# Output_file: <results>/wet_deposition/&f_&n.bin


# [save]

# # Put "all" to output all species.
# Species: all # all

# Date_beg: -1 # Put -1 to start from the simulation initial date.
# Date_end: -1 # Put -1 to end at the simulation final date.
# Interval_length: 12 # 1 for all steps.
# Averaged: yes
# # Save initial concentrations in case concentrations are not averaged?
# Initial_concentration: no

# # Choices: domain, domain_aer, indices_list ...
# Type: dry_deposition_aer

# Levels: 0 # 1 2 3 4 5 6 7 8 9 10

# Output_file: <results>/dry_deposition/&f_&n.bin